<% provide(:title, "ホーム") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <!--<div class="col-md-8">-->
    <!--  <h3>ツイート一覧</h3>-->
    <!--  <%= render 'shared/feed' %>-->
    <!--</div>-->
  </div>
  <%= render 'static_pages/user_logged_in' %>
<% else %>

  <div class="center jumbotron">
  <div>
    <h1>勤怠システム</h1>
    <!--<div style="text-align:center;">-->
      <P><%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %></P>
    
      <small>
       <!--アカウント作成は <a href= "home/ec2-user/environment/sample_app/app/views/users/new.html.erb" target="_blank">こちら</a>-->
       アカウント作成は<%= link_to "こちら",signup_path %>
      </small>
    <!--</div>-->
  </div>

  <body>
  </body>

  <!--%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %-->
              

<% end %>