<%= form_for(current_user, :url => {:controller => :users, :action => :ba_info_edit}) do |f| %>
　<%= hidden_field_tag :id, @user.id %>
  <%= render 'shared/error_messages', object: current_user %>
    <h1>基本情報の更新</h1>
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <%= f.label :指定勤務時間 %>
      <%= f.time_field :pointing_work_time, class: 'form-control' %>

      <%= f.label :基本勤務時間 %>
      <%= f.time_field :basic_work_time, class: 'form-control'%>
      <center>
      <%= f.submit "更新", class: "btn btn-primary" %>
      </center>
      <% end %>
      </div>
    </div>