<% provide(:title, "アカウント情報の更新") %>
<h1>プロフィール更新</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :メースアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :所属 %>
      <%= f.email_field :affiliation, class: 'form-control' %>
      
      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワードの確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

    <center>
      <%= f.submit "更新", class: "btn btn-primary" %>
    </center>
    <% end %>

    <!--<div class="gravatar_edit">-->
    <!--  <%#= gravatar_for @user %>-->
    <!--  <a href="http://gravatar.com/emails">変更</a>-->
    <!--</div>-->
    </div>
  </div>