<!DOCTYPE html>
<html>

<body>
 <table border="1" width="1200">
    <tr align="center">
      <td height="45">
        <%= link_to "←", user_path(piyo: @first_day.prev_month),style:"color:white", class: 'btn btn-default btn-primary' %>   
           <%= @first_day.year %>年<%= @first_day.month %>月の時間管理表   
        <%= link_to "→", user_path(piyo: @first_day.next_month),style:"color:white", class: 'btn btn-default btn-primary' %>
        
      </td>
      <% if @user.pointing_work_time.present? %>
        <td>指定勤務時間  <%= @PWK %></td>
      <% else %>
        <td>指定勤務時間 08 : 00</td>
      <% end %>
      
      <% if @user.pointing_work_time.present? %>
        <td colspan="3"><%= @Btime %> 基本時間</td>
      <% else %>
        <td colspan="3">07 : 50 基本時間</td>
      <% end %>
            
      <td>初日 <%= @first_day.month %>/<%= @first_day.day %></td>
      
    </tr>
    <tr align="center">
      <% if @user.affiliation.present? %>
        <td>所属 <%= @user.affiliation %></td>
      <% else %>
        <td>所属 <%=  %></td>
      <% end %>
      <td>氏名 <%= @user.name %></td>
      <td>コード</td>
      <td width="10"></td>
      <td>出勤日数<%= @attendance_sum if @attendance_sum.present? %></td>
      <td>締め <%= @first_day.month %>/<%= @last_day.day %></td>
    </tr>
    </table> 
</body>
　
　<br><br><br>
　
　<body>
　  <%= link_to "勤怠を編集", attend_edit_path(first_day: @first_day), style:"color:white", class: 'btn btn-default btn-primary' %>
　  <table class="s-tbl" border="1" width="1200">
      <tr align="center">
        <td rowspan="2">日付</td>
        <td rowspan="2">曜日</td>
        <td colspan="3">出社</td>
        <td colspan="3">退社</td>
        <td rowspan="2">滞在時間</td>
        <td rowspan="2" colspan="3" >備考</td>
        <!--<td rowspan="2">残業指示</td>-->
        <!--<td rowspan="2">残業指示者</td>-->
      </tr>
      
      <tr align="center">
        <td>時</td><td>分</td><td width="130"></td><td>時</td><td>分</td><td width="10"></td>
      </tr>
        <% (@first_day..@last_day).each do |temp_day| %>
            <tr align="center" height="50">
              <td><%= temp_day.month %>/<%= temp_day.day %></td>
              <td><%= @youbi [@first_day.change(day: temp_day.day).wday] %></td>
              
              
              <td><%# 出勤時間 %>
              <% if @attendance.present? %><%# 新規ユーザーの場合はデータが存在しないからエラーになる %>
                  <% @attendance.each do |value| %>
                    <% if value.arrival.present? %>
                      <%= value.arrival.hour if value.attendance_date == temp_day %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>

              <td><%# 出勤分 %>
                <% if @attendance.present? %><%# 新規ユーザーの場合はデータが存在しないからエラーになる %>
                  <% @attendance.each do |value| %>
                    <% if value.arrival.present? %>
                      <%= value.arrival.min if value.attendance_date == temp_day %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              <td width="130">
                <%# 今日の年月日だったらボタン表示。年まで条件付けしないと前年や来年等の同月日にボタンが描画されてしまう為。 %>
                <% if Date.current ==  temp_day %>
                    <% if @attendance.find_by(attendance_date: temp_day, user_id: @user.id).arrival == nil %>  <%# 今日の出勤情報がモデル内に存在しているか判定 %>
                      <%= link_to "出 勤", work_path(id: @user.id, flag: "arrival_flag"), style:"color:white", class: "btn btn-primary" %>
                    <% elsif @attendance.find_by(attendance_date: temp_day, user_id: current_user.id).departure == nil %>　<%# 退勤情報がモデル内に存在しているか判定 %>
                      <%= link_to "退 勤", work_path(id: @user.id, flag: "departure_flag"), style:"color:white", class: "btn btn-primary" %>
                    <% else %>
                      <%# 退勤ボタンを押下済みならボタンは非表示 %>
                    <% end %>
                  <%# end %>
                <% end %>
              </td>
              
              <td><%# 退勤時間 %>
                <% if @attendance.present? %><%# 新規ユーザーの場合はデータが存在しないからエラーになる %>
                  <% @attendance.each do |value| %>
                    <% if value.departure.present? %>
                      <%= value.departure.hour if value.attendance_date == temp_day %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              
              <td><%# 退勤分 %>
                <% if @attendance.present? %><%# 新規ユーザーの場合はデータが存在しないからエラーになる %>
                  <% @attendance.each do |value| %>
                    <% if value.departure.present? %>
                      <%= value.departure.min if value.attendance_date == temp_day %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              <td width="10"></td>
              <td><%# 滞在時間 %>
                <% if @attendance.present? %><%# 新規ユーザーの場合はデータが存在しないからエラーになる %>
                  <% @attendance.each do |value| %>
                    <% departure_time = value.departure %>
                    <% arrival_time = value.arrival %>
                    <% if departure_time.present? %>
                      <%= ((departure_time - arrival_time) / 3600 ).round(2) if value.attendance_date == temp_day %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              <td colspan="3" ></td>
              <!--<td></td>-->
              <!--<td></td>-->
            </tr>
        <% end %>
        <td align="center" height="50" colspan="2"><%= 0.00 %></td>
        <td align="center" height="50" colspan="6"></td>
        <td align="center" height="50"><%# 滞在時間合計 %>
        <% total = 0 %>
         <% if @attendance.present? %><%# 新規ユーザーの場合はデータが存在しないからエラーになる %>
            <% @attendance.each do |value| %>
              <% departure_time = value[:departure] %>
              <% arrival_time = value[:arrival] %>
              <% if departure_time != nil %>
                <% time_in_company = (departure_time - arrival_time) / 3600 %>
                <% total += time_in_company %>
              <% end %>
            <% end %>
        <% end %>
          <%= total.round(2) if  @first_day.year == @y_m_d.year && @first_day.month == @y_m_d.month %>
        </td>
        <!--<td align="center" height="50"></td>-->
        <!--<td align="center" height="50"></td>-->
        <td align="center" height="50">所属長承認</td>
    </table> 
  </body>
  <%= render 'static_pages/user_logged_in' %>
</html>
